/*
Theme Name: Boostrap Starter Theme
Theme URI: https://www.lyrathemes.com/bootstrap-wordpress-theme-tutorial/
Author: Abby
Author URI: https://www.lyrathemes.com
Description: A basic theme using the Bootstrap framework.
Version: 1.0
Text Domain: bootstrapstarter
*/

body { background-color: #f8f9fa; font-family: "Trebuchet MS", Arial, Verdana !important; font-weight: bold !important;}

hr { background-color: #ccc; border: 0; height: 1px; margin-bottom: 1.5em; }

dt { font-weight: bold; }

dd { margin: 0 1.5em 1.5em; }

img { height: auto; /* Make sure images are scaled correctly. */ max-width: 100%; /* Adhere to container width. */ }

figure { margin: 1em 0; }/* Extra wide images within figure tags don't overflow the content area. */ 

table { margin: 0 0 1.5em; width: 100%; }

/* Text meant only for screen readers. */
.screen-reader-text { border: 0; clip: rect(1px, 1px, 1px, 1px); -webkit-clip-path: inset(50%); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; -webkit-clip-path: none; clip-path: none; color: #21759b; display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; /* Above WP toolbar. */ }
/*----------------------------search bar------------*/
/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus { outline: 0; }

.alignleft { display: inline; float: left; margin-right: 1.5em; }

.alignright { display: inline; float: right; margin-left: 1.5em; }

.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }

.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after { content: ""; display: table; table-layout: fixed; }

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after { clear: both; }

.widget { margin: 0 0 1.5em; display: none; /* Make sure select elements fit in widgets. */ }

.widget select { max-width: 100%; }

.sticky { display: block; }

.hentry { margin: 0 0 1.5em; }

.updated:not(.published) { display: none; }

.page-content, .entry-content, .entry-summary { margin: 1.5em 0 0;
 }

.page-links { clear: both; margin: 0 0 1.5em; }

.comment-content a { word-wrap: break-word; }

.bypostauthor { display: block; }

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, .infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */ display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer { display: block; }

.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley { border: none; margin-bottom: 0; margin-top: 0; padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed, iframe, object { max-width: 100%; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link { display: inline-block; }

.wp-caption { margin-bottom: 1.5em; max-width: 100%; }

.wp-caption img[class*="wp-image-"] { display: block; margin-left: auto; margin-right: auto; }

.wp-caption .wp-caption-text { margin: 0.8075em 0; }

.wp-caption-text { text-align: center; }

.gallery { margin-bottom: 1.5em; }

.gallery-item { display: inline-block; text-align: center; vertical-align: top; width: 100%; }

.gallery-columns-2 .gallery-item { max-width: 50%; }

.gallery-columns-3 .gallery-item { max-width: 33.33%; }

.gallery-columns-4 .gallery-item { max-width: 25%; }

.gallery-columns-5 .gallery-item { max-width: 20%; }

.gallery-columns-6 .gallery-item { max-width: 16.66%; }

.gallery-columns-7 .gallery-item { max-width: 14.28%; }

.gallery-columns-8 .gallery-item { max-width: 12.5%; }

.gallery-columns-9 .gallery-item { max-width: 11.11%; }

.gallery-caption { display: block; }

/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/
body { -ms-word-wrap: break-word; word-wrap: break-word; -webkit-font-smoothing: auto; text-rendering: optimizeLegibility !important; -moz-osx-font-smoothing: grayscale; font-smoothing: auto;}

a, button, input { -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

blockquote { font-size: 1.25rem; padding: 1.25rem 1.75rem; }

table { width: 100%; max-width: 100%; margin-bottom: 1rem; background-color: transparent; }

table th, table td { padding: 0.75rem; vertical-align: top; border-top: 1px solid #dee2e6; }

table thead th { vertical-align: bottom; border-bottom: 2px solid #dee2e6; }

table tbody + tbody { border-top: 2px solid #dee2e6; }

table table { background-color: #fff; }

figcaption { padding-top: 0; padding-bottom: .75rem; color: #6c757d; text-align: left; }

input[type="button"], input[type="reset"], input[type="submit"] { display: inline-block; font-weight: 400; text-align: center; white-space: nowrap; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; border: 1px solid transparent; line-height: 1.5; border-radius: 0.25rem; -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; padding: 0.5rem 1.25rem; color: #fff; background-color: #007bff; border-color: #007bff; }

input[type="button"]:
active, input[type="button"]:hover, input[type="reset"]:active, input[type="reset"]:hover, input[type="submit"]:active, input[type="submit"]:hover { color: #fff; background-color: #0062cc; border-color: #005cbf; cursor: pointer; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea { display: block; width: 100%; padding: 0.375rem 0.75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: 0.25rem; -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus { color: #495057; background-color: #fff; outline: 0; }

input[type="text"]:-webkit-input-placeholder, input[type="text"]:-moz-placeholder, input[type="text"]:-ms-input-placeholder, input[type="email"]:-webkit-input-placeholder, input[type="email"]:-moz-placeholder, input[type="email"]:-ms-input-placeholder, input[type="url"]:-webkit-input-placeholder, input[type="url"]:-moz-placeholder, input[type="url"]:-ms-input-placeholder, input[type="password"]:-webkit-input-placeholder, input[type="password"]:-moz-placeholder, input[type="password"]:-ms-input-placeholder, input[type="search"]:-webkit-input-placeholder, input[type="search"]:-moz-placeholder, input[type="search"]:-ms-input-placeholder, input[type="number"]:-webkit-input-placeholder, input[type="number"]:-moz-placeholder, input[type="number"]:-ms-input-placeholder, input[type="tel"]:-webkit-input-placeholder, input[type="tel"]:-moz-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="range"]:-webkit-input-placeholder, input[type="range"]:-moz-placeholder, input[type="range"]:-ms-input-placeholder, input[type="date"]:-webkit-input-placeholder, input[type="date"]:-moz-placeholder, input[type="date"]:-ms-input-placeholder, input[type="month"]:-webkit-input-placeholder, input[type="month"]:-moz-placeholder, input[type="month"]:-ms-input-placeholder, input[type="week"]:-webkit-input-placeholder, input[type="week"]:-moz-placeholder, input[type="week"]:-ms-input-placeholder, input[type="time"]:-webkit-input-placeholder, input[type="time"]:-moz-placeholder, input[type="time"]:-ms-input-placeholder, input[type="datetime"]:-webkit-input-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-webkit-input-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="color"]:-webkit-input-placeholder, input[type="color"]:-moz-placeholder, input[type="color"]:-ms-input-placeholder, textarea:-webkit-input-placeholder, textarea:-moz-placeholder, textarea:-ms-input-placeholder { color: #6c757d; opacity: 1; }

select { height: calc(2.25rem + 2px); display: block; width: 100%; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: .25rem; -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }

blockquote { font-style: italic; font-size: 1.15rem; border-left: 3px solid rgba(33, 37, 41, 0.25); padding: 0.5rem 1.75rem; background: rgba(33, 37, 41, 0.05); }
/*---------------------------lower menu*/

blockquote p { font-size: 1.15rem; }

blockquote p:last-child { margin-bottom: 0; }
.navbar-dark .navbar-nav .dropdown-menu a { display: block; width: 100%; padding: .25rem 1.5rem; clear: both; font-weight: 400; color: #212529; text-align: inherit; white-space: nowrap; background-color: transparent; border: 0; }
.bottomMenu { display: block; width:960px;}
.bottomMenu ul { display:inline; float:right;}
.bottomMenu li { list-style-type: none; display: inline; font-size: 12px; }
.bottomMenu li a {
	color:#000;
	line-height::15px;
	text-decoration:none;
	font-weight:normal;
	border-right: thin solid #000;
	padding: 0 7px 0 3px;
}
.bottomMenu li a:hover { color:#ccc; text-decoration:underline;}
.bottomMenu li:last-child > a {border-right: none;} 
/*--.site-footer { padding-top: 3rem; padding-bottom: 3rem; }*/
.site-footer li a.active{
color: #fff !important;
background: #007996 !important;
}
.site-footer li a {

    color: #000;
    float: left;
    background: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    min-width: 227px;
    text-align: center;
    border-right: 1px solid;
    border-right-color: currentcolor;
    border-right-style: solid;
    border-right-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
}
/*---------*/
.footer-menu > li {
float: left;
padding:0 0px;
text-decoration: none !important;
display: block;
}
.footer-menu {
float: right;
margin: 0 auto;
}
.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next { float: right; text-align: right; width: 50%; }

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous { float: left; text-align: left; width: 50%; }

.post-thumbnail { margin-top: 1.5em; display: inline-block; }

.card-title.entry-title { margin-bottom: .25rem; }

.entry-meta { font-size: .9rem; }

.entry-footer { font-size: .9rem; margin-top: 1rem; display: none; }

.comments-link { float: right; margin: 4px 0px 4px 10px; font-size: 90%; padding-top: 0.2em; }

.cat-links .badge, .tags-links .badge { font-size: 90%; font-weight: normal; border: 1px solid rgba(0, 0, 0, 0.125); margin: 4px 10px 4px 0; padding: 0.4em .9em; }

.cat-links a, .tags-links a { color: #6c757d; }

.cat-links a:hover, .tags-links a:hover { text-decoration: none; color: #212529; }

.entry-meta a, .comments-link a, .edit-link a { color: #6c757d; }

.entry-meta a:hover, .comments-link a:hover, .edit-link a:hover { text-decoration: none; color: #007bff; }

.entry-title a:hover { color: #007bff !important; }

.content-area.wp-bp-404 .card-body { padding: 168px 1px 245px 1px; }/* 11.5rem 4rem*/

.sidebar-1-area .widget, .footer-widgets .widget { margin-bottom: 0; padding: 2rem; }

.sidebar-1-area .widget ul, .footer-widgets .widget ul { padding-left: 20px; color: #6c757d; margin-bottom: 0; }

.sidebar-1-area .widget ul li, .footer-widgets .widget ul li { padding-top: 3px; padding-bottom: 3px; list-style: square; }

.sidebar-1-area .widget ul li:last-child, .footer-widgets .widget ul li:last-child { padding-bottom: 0; margin-bottom: 0; }

.sidebar-1-area .widget ul li a, .footer-widgets .widget ul li a { color: #6c757d; }

.sidebar-1-area .widget ul li a:hover, .footer-widgets .widget ul li a:hover { color: #212529; text-decoration: none; }

.footer-widgets .widget { padding: 0.5rem; }

#wp-calendar #next { text-align: right; }

#wp-calendar #prev a, #wp-calendar #next a { color: #6c757d; }

#wp-calendar #prev a:hover, #wp-calendar #next a:hover { color: #212529; text-decoration: none; }

#calendar_wrap table th, #calendar_wrap table td { padding: .25rem; }

.hentry.card .card-body { padding: 7.5rem 4rem !important; }

select { height: calc(2.25rem + 2px); display: block; width: 100%; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: .25rem; -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }

.entry-title a:hover { text-decoration: none; }
.entry-title h2{
     display: none;
}
.comments-area { clear: both; -ms-word-wrap: break-word; word-wrap: break-word; overflow-wrap: break-word; word-break: break-word; }

.comments-area .media-body { overflow: auto; }

.comments-area .comment-list { list-style: none; padding-left: 0; }

.comments-area .comment-list > li { border-bottom: 1px solid #dee2e6 !important; padding: 2.5rem 4rem; }

.comments-area .comment-list ul.children { list-style: none; padding-left: 2rem; }

.comments-area .comment-list ul.children li { padding: 2.5rem 0 0; }

.comments-area .comment-list .comment-respond { padding: 2.5rem 4rem; }

.comments-area .comments-title { padding: 2.5rem 4rem; border-bottom: 1px solid #dee2e6 !important; }

.comments-area .comment-navigation { padding: 1rem 4rem 0; border-bottom: 1px solid #dee2e6 !important; }

.comments-area .wb-comment-form { padding: 2.5rem 4rem; }

.comments-area .wb-cancel-reply { margin-left: 2rem; }

.comments-area .logged-in-as { padding-left: 15px; font-size: .9rem; }

.comments-area .logged-in-as a { color: #6c757d; }

.comments-area .logged-in-as a:hover { color: #212529; text-decoration: none; }

.comments-area .wb-comment-notes { font-size: .9rem; }

.comments-area .no-comments { padding: 1rem 4rem; }

.comments-area small { font-size: .9rem; }

.comments-area p { -ms-word-wrap: break-word; word-wrap: break-word; overflow-wrap: break-word; word-break: break-word; }

.comments-area .comment-reply-link, .comments-area .comment-edit-link { margin-right: 1rem; color: #6c757d; }

.comments-area .comment-reply-link:hover, .comments-area .comment-edit-link:hover { color: #212529; text-decoration: none; }

.comments-area .comment-author a:hover { text-decoration: none; color: #212529; }

.wp-bp-sticky { position: absolute; top: 0; right: 1rem; }

.single .post-navigation .nav-links a { color: #6c757d; margin-bottom: 2rem; display: inline-block; }

.single .post-navigation .nav-links a:hover { color: #212529; text-decoration: none; }

.navbar { padding: 1rem; }

#wp-bp-posts-slider { border: 1px solid rgba(0, 0, 0, 0.125); }


#wp-bp-posts-slider .carousel-item img { width: auto; height: 400px; -o-object-fit: cover; object-fit: cover; }

#wp-bp-posts-slider .carousel-caption { background: rgba(0, 0, 0, 0.4); width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; padding: 2rem 4rem; }

#wp-bp-posts-slider .carousel-control-prev, #wp-bp-posts-slider .carousel-control-next { width: 10%; }


.custom-logo-link { margin-right: 1rem; }

.site-title a, .navbar-dark .navbar-brand, .site-description { color: #fff; margin-bottom: 0; display: none; }


.navbar-brand { font-size: 1.5rem; }

.navbar-dark .navbar-nav .nav-link { color: #fff; font-size: 14px;}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus { color: #ffa500; opacity: 0.75; font-size: 14px;}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active { color: #fff; font-size: 14px;}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus { color: #fff; }

.navbar-dark .navbar-nav .dropdown-menu .active > .nav-link { color: #212529; }

/*---.navbar-dark .navbar-nav .dropdown-menu .nav-link:hover, .navbar-dark .navbar-nav .dropdown-menu .nav-link:focus { color: #212529; }---*/
/*----------
.page-template-full-width .site-footer.mt-4, .wb-bp-front-page .site-footer.mt-4 { margin-top: 0 !important; background: url("http://wp-local.in/wp-content/uploads/2019/06/543657680.jpg") !important;

background-repeat: no-repeat !important;

background-size: cover !important;

width: 100%;

height: 1000px;

margin-bottom: auto; }*/

.wb-hide-mobile-sidebar .wp-bp-sidebar-width { display: none; }
.navbar-toggler { background-color: transparent; }

.site-header { border-bottom: 1px solid transparent; height: 0px; }
#header {
  background-color: transparent;
  padding: 5px 5px;
  color: white;
  text-align: right;
  font-size: 10px; 
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
font-family: "Optima", bold, serif;
}
.site-footer a:hover { text-decoration: none; }

.admin-bar .site-header.sticky-top { top: 32px; height: 0px;}

.wb-bp-front-page .site-header { border-bottom: 0; height: 0px; }


.wb-bp-front-page .wp-bp-main-content p { font-size: 1.25rem; font-weight: 300; }

.wb-bp-front-page .wp-bp-main-content blockquote { font-size: 1.35rem; }

.wb-bp-front-page .wp-bp-main-content blockquote p { font-size: 1.35rem; }

.wb-bp-front-page .wp-bp-main-content .post-thumbnail { margin-bottom: 1rem; margin-top: 0.5rem; }

.wb-bp-front-page .wp-bp-feat-card-img { -o-object-fit: cover; object-fit: cover; height: 200px; width: 100%; }

.wp-caption .wp-caption-text { font-size: 0.95rem; }

.footer-widgets { 
   position: fixed;
   bottom: 83px;
   left: 0;
   right: 40px;
   margin: 0 auto;
}

.row{
   margin-right: -15px;
   margin-left: -15px;
   display: flex;
}
.col {
display: inline-block;
float: left;
border-right: 1px solid;
}
.h6{
background: #fff;
color: #000;
text-transform: uppercase;
font-size: 1rem;
font-weight: bold;
min-width:227px;
text-align: center;
font-family: Times New Roman;

}
