/*
Theme Name: saguaro theme

Theme URI: https://saguaro-wp.oneeach.org
Author: Afterimage Designs
Author URI: https://afterimagedesigns.com/
*/
.container {
  max-width: 1150px !important;
}
html,
body {
  overflow-x: hidden;
}
body {
  margin: 0;
  -webkit-font-smoothing: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
section{
flex: 0 0 100% !important;
max-width: 100% !important;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  color: #fff;
}

a:active,
a:hover {
  outline: 0;
  color: #ebab00 !important;
  text-decoration: none !important;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 2.5rem;
}

hr {
  box-sizing: content-box;
  height: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
      border: solid;
    border-radius: 5px 5px 5px 5px;
    width: 50%;
    border-color: #007996;
    font-size: 20px;
    color: #007996;
    border-width: 1px 1px 1px 1px;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  clear: both;
  color: #007996;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 15px;
  font-size: 13px;
  font-family: "Trebuchet MS", Arial, Verdana !important;
}
h1 {
  font-size: 32px;
  padding-bottom: 10px;
}
h2 {
  font-size: 24px;
  padding-bottom: 0.3em;
  line-height: 1.25;
}
h3 {
  font-size: 18px;
  line-height: 25px;
}
h4 {
  font-size: 16px;
  line-height: 20px;
}
h5 {
  font-size: 14px;
  line-height: 17.5px;
}

p {
  margin-bottom: 1.5em;
font-family: "Trebuchet MS", Arial, Verdana !important;
}
h1.entry-title {
  font-size: 2.31rem;
  border-bottom: 1px solid #eaecef;
}
h2.entry-title {
  border-bottom: 1px solid #eaecef;
}
h3.widget-title {
  font-size: 1.2rem;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
body {
  background: #fff;
font-family: "Trebuchet MS", Arial, Verdana !important;
  /* Fallback for when there is no custom background color defined. */
}

img {
  height: auto;
  /*  height: 20px;*/
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
header#masthead {
  margin-bottom: 0;
 /* background-color: #563d7c ;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);*/
  padding: .74rem 1rem;
  /*linear-gradient(180deg,rgba(0,0,0,.85),transparent);*/
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), transparent);
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    transition: .5s,ease;
}
.tag-image{
  height: 40px;
  width: 60%;
  padding-left: 20px;
}
.navbar-brand > a {
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.1rem;
  outline: medium none;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
font-family: "Trebuchet MS", Arial, Verdana !important;
}

.navbar-brand > a:visited, .navbar-brand > a:hover {
  text-decoration: none;
}
.navbar-sticky-top {
  position:fixed;
  z-index: 1020;
/*  top: 0;*/
  width: 100%;
}

#page-sub-header {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 0;
  text-align: center;
  font-size: 1.25rem;
  background-size: cover !important;
  display: none;
}

body:not(.theme-preset-active) #page-sub-header h1 {
  line-height: 1.6;
  font-size: 4rem;
  color: #563e7c;
  margin: 0 0 1rem;
  border: 0;
  padding: 0;
font-family: "Trebuchet MS", Arial, Verdana !important;
}

#page-sub-header p {
  margin-bottom: 0;
  line-height: 1.4;
  font-size: 1.25rem;
  font-weight: 300;
font-family: "Trebuchet MS", Arial, Verdana !important;
}
body:not(.theme-preset-active) #page-sub-header p {
color: #212529;
}
a.page-scroller {
  color: #333;
  font-size: 2.6rem;
  display: inline-block;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  body:not(.theme-preset-active) #page-sub-header h1 {
    font-size: 3.750rem;
  }
  body:not(.theme-preset-active) #page-sub-header {
    font-size: 1.25rem;
  }
}
/*@media screen and (min-width: 992px) {
  #page-sub-header p {
    max-width: 43rem;
    margin: 0 auto;
  }
}*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
#masthead nav {
  padding-left: 0;
  padding-right: 0;
}

body:not(.theme-preset-active) #masthead .navbar-nav > li > a {
  color: #cdbfe3;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
}

body:not(.theme-preset-active) #masthead .navbar-nav > li > a:hover,
body:not(.theme-preset-active) #masthead .navbar-nav > li.current_page_item > a {
  color: #fff;
  font-weight: 600;
font-family: 'Trebuchet MS' !important;
  /*background: #f9f9f9;*/
}

.navbar-brand {
  height: auto;
}

.navbar-toggle .icon-bar {
  background: #000 none repeat scroll 0 0;
}

.dropdown-menu .dropdown-toggle::after {
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
  border-top: 0.3em solid transparent;
}

.dropdown.menu-item-has-children .dropdown.menu-item-has-children {
    position: relative;
}

.dropdown.menu-item-has-children .dropdown.menu-item-has-children>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown.menu-item-has-children .dropdown.menu-item-has-children:hover>.dropdown-menu {
    display: block;
}
.dropdown.menu-item-has-children .dropdown.menu-item-has-children>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown.menu-item-has-children .dropdown.menu-item-has-children:hover>a:after {
    border-left-color: #fff;
}

.dropdown.menu-item-has-children .dropdown.menu-item-has-children.pull-left {
    float: none;
}

.dropdown.menu-item-has-children .dropdown.menu-item-has-children.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

.dropdown-item {
  line-height: 1.2;
  padding-bottom: 0.313rem;
  padding-top: 0.313rem;
}

.dropdown-menu {
  min-width: 12.500rem;
}

.dropdown .open .dropdown-menu {
  display: block;
  left: 12.250em;
  top: 0;
}

.dropdown-menu .dropdown-item {
  white-space: normal;
  background: transparent;
  line-height: 1.6;
}
.dropdown-menu .dropdown-item:hover {
  background: transparent;
}
/*
@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
}*/
/*@media screen and (min-width: 769px) {
  .dropdown-menu li > .dropdown-menu {
    right: -9.875rem;
    top: 1.375rem;
  }
}*/
@media screen and (max-width: 991px) {
  .navbar-nav .dropdown-menu {
    border: medium none;
    margin-left: 1.250rem;
    padding: 0;
  }

  .dropdown-menu li a {
    padding: 0;
  }
#masthead .navbar-nav > li > a {
    padding-bottom: 0.625rem;
    padding-top: 0.313rem;
  }

  .navbar-light .navbar-toggler {
    border: medium none;
    outline: none;
  }
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
.comment-content.card-block {
  padding: 20px;
}

.navigation.post-navigation {
  padding-top: 1.875rem;
}
.post-navigation .nav-previous a,
.post-navigation .nav-next a {
  border: 1px solid #ddd;
  border-radius: 0.938rem;
  display: inline-block;
  padding: 0.313rem 0.875rem;
  text-decoration: none;
}

.post-navigation .nav-next a::after {
  content: " \2192";
}

.post-navigation .nav-previous a::before {
  content: "\2190 ";
}

.post-navigation .nav-previous a:hover,
.post-navigation .nav-next a:hover {
  background: #eee none repeat scroll 0 0;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 0.313rem;
  line-height: normal;
  padding: 0.938rem 1.438rem 0.875rem;
  text-decoration: none;
  top: 0.313rem;
  width: auto;
  z-index: 100000;
font-family: 'Trebuchet MS' !important;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a img.alignright {
  float: right;
  margin: 0.313rem 0 1.25rem 1.25rem;
}

a img.alignnone {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

a img.alignleft {
  float: left;
  margin: 0.313rem 1.25rem 1.25rem 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption.alignnone {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

.wp-caption.alignleft {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

.wp-caption.alignright {
  margin: 0.313rem 0 1.25rem 1.25rem;
}
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  font-size: 0.875rem;
  /* Make sure select elements fit in widgets. */
}
.widget select {
  max-width: 100%;
}
.widget_search .search-form input[type="submit"] {
  display: none;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
  text-decoration: none;
}
.half-rule {
  width: 6rem;
  margin: 2.5rem 0;
}
.widget_categories .nav-link {
  display: inline-block;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
#content.site-content {
/*  padding-bottom: 3.75rem;
  padding-top: 4.125rem;*/
}

.sticky .entry-title::before {
  content: '\f08d';
  font-family: "Font Awesome\ 5 Free";
  font-size: 1.563rem;
  left: -2.5rem;
  position: absolute;
  top: 0.375rem;
  font-weight: 900;
}
.sticky .entry-title {
  position: relative;
}


.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.page-template-blank-page .entry-content,
.blank-page-with-container .entry-content {
  margin-top: 0;
}

.post.hentry {
  margin-bottom: 4rem;
}

.posted-on, .byline, .comments-link {
  color: #9a9a9a;
}

.entry-title > a {
  color: inherit;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comment-body .pull-left {
  padding-right: 0.625rem;
}

.comment-list .comment {
  display: block;
}

.comment-list {
  padding-left: 0;
}

.comments-title {
  font-size: 1.125rem;
}

.comment-list .pingback {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.563rem 0;
}

.comment-list .pingback:first-child {
  border: medium none;
}
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  background: #f1f1f1 none repeat scroll 0 0;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 0.313rem 0.313rem 0;
  text-align: center;
}
.wp-caption img[class*="wp-image-"] {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: auto;
}
.wp-caption .wp-caption-text {
  font-size: 0.688rem;
  line-height: 1.063rem;
  margin: 0;
  padding: 0.625rem;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-item .gallery-columns-2 {
  max-width: 50%;
}
.gallery-item .gallery-columns-3 {
  max-width: 33.33333%;
}
.gallery-item .gallery-columns-4 {
  max-width: 25%;
}
.gallery-item .gallery-columns-5 {
  max-width: 20%;
}
.gallery-item .gallery-columns-6 {
  max-width: 16.66667%;
}
.gallery-item .gallery-columns-7 {
  max-width: 14.28571%;
}
.gallery-item .gallery-columns-8 {
  max-width: 12.5%;
}
.gallery-item .gallery-columns-9 {
  max-width: 11.11111%;
}

.gallery-caption {
  display: block;
}
/*--------------------------------------------------------------
# Plugin Compatibility
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Woocommerce
--------------------------------------------------------------*/
.woocommerce-cart-form .shop_table .coupon .input-text {
  width: 8.313rem !important;
}

.variations_form .variations .value > select {
  margin-bottom: 0.625rem;
}

.woocommerce-MyAccount-content .col-1,
.woocommerce-MyAccount-content .col-2 {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Elementor
--------------------------------------------------------------*/
.elementor-page article .entry-footer {
  display: none;
}

.elementor-page.page-template-fullwidth #content.site-content {
  padding-bottom: 0;
  padding-top: 0;
}

.elementor-page .entry-content {
  margin-top: 0;
}

/*--------------------------------------------------------------
## Visual Composer
--------------------------------------------------------------*/
.vc_desktop article .entry-footer {
  display: none;
}

.vc_desktop #content.site-content {
  padding-bottom: 0;
  padding-top: 0;
}

.vc_desktop .entry-content {
  margin-top: 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer#colophon {
  font-size: 80%;
}
body:not(.theme-preset-active) footer#colophon {
  color: #fff;
  background-color: #007996;
 /* position: fixed;*/
  left: 0;
  bottom: 0;
  width: 100%;
  height: 328px;
font-family: "Trebuchet MS", Arial, Verdana !important;
}
.navbar-dark .site-info {
  color: #fff;
}
.copyright {
  font-size: 0.875rem;
  margin-bottom: 0;
  text-align: center;
}
.copyright a, footer#colophon a {
  color: inherit;
}
/*
.lower-menu {
padding: 0px 380px 0px 360px;
}
.footer-menu {
margin: 22px 0px 0px 0px;
}
.copy{
    float: left;
    color: #007996;
    margin: 20px 1px 1px -71px;
    font-size: 14px;
    font-family: "Trebuchet MS", Arial, Verdana !important;
    font-weight: bold !important;
}
.website{
    color: #007996;
    margin: -22px -70px 1px 0px;
    float: right;
    font-size: 14px;
    font-family: "Trebuchet MS", Arial, Verdana !important;
    font-weight: bold !important;
}*/
#primary {
    padding: 110px 0px 0px 0px;
}
.footer-logo {
    width: 25%;
    float: left;
   /* border-right: 1px solid;*/
    padding-top: 20px;
}
.logo-footer {
   width: 150px;
}
.block-1 {
    width: 25%;

    float: left;
    text-align: left;

    line-height: 1.8rem;
 /*   border-right: 1px solid;*/
}
.block-1-heading {
    color: #fff !important;
    font-size: 18px !important;
    padding-left: 40px !important;
font-family: "Trebuchet MS", Arial, Verdana !important;
line-height: 0.2rem;
}
.block-1-options {
    text-align: left;

    line-height: 1.5rem;
    padding-right: 90px;
font-family: "Trebuchet MS", Arial, Verdana !important;
}
.block-2 {
    width: 25%;

    float: left;
    text-align: left;

    line-height: 1.8rem;
/*    border-right: 1px solid;*/
    color: #fff !important;

}
.block-2-heading {
    color: #fff !important;
    font-size: 18px !important;
    padding-left: 37px !important;
font-family: "Trebuchet MS", Arial, Verdana !important;
line-height: 0.2rem;
}

.block-2-options {
    text-align: left;

    line-height: 1.5rem;
    padding-right: 30px;
font-family: "Trebuchet MS", Arial, Verdana !important;
}
.block-3 {
    width: 25%;

    float: left;
    text-align: left;

    line-height: 1.5rem;
    color: #fff !important;
font-family: "Trebuchet MS", Arial, Verdana !important;
padding-left: 90px;
}
.block-3-heading {
    color: #fff !important;
    font-size: 18px !important;
font-family: "Trebuchet MS", Arial, Verdana !important;
line-height: 0.2rem;
}
.search-submit {
    width: 15% !important;
    padding: 3px 28px !important;
    background-color: #007996;
color: #fff !important;
background-image: url("/wp-content/uploads/2019/09/search-13-16.png");
background-repeat: no-repeat;
background-position: center center;
}
#primary {

    padding: 110px 25px 0px 25px !important;

}
.search-form{
  margin: auto !important;
}
.vl {
    border-left: 1px solid green;
    height: 100px;
}
#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item-has-children > a.mega-menu-link > span.mega-indicator {
    display: none !important;
    height: 100%;
    width: auto;
    background: transparent;
    position: relative;
    pointer-events: auto;
    left: auto;
    min-width: auto;
    line-height: inherit;
    color: inherit;
    font-size: inherit;
    padding: 0;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link:hover {
    background: rgba(0, 0, 0, 0);
    color: #ebab00 !important;
    font-weight: bold;
    text-decoration: none;
    border-color: #fff;
}
.mega-menu-wrap {
    margin: 0px 0px 0px 140px !important;
}
.nav-button {
   padding: 10px 12px;
   background-color: rgb(230,155,0);
   color: #fff !important;
   border-radius: 5px 5px 5px 5px;
   border-width: 1px 1px 1px 1px;
   font-size: 14px;
   height: 35px;
   border-color: rgb(230,155,0);
   text-align: center;
   font-weight: bold;
}
.navbar-button {
       position: absolute;

margin-left: 89%;
}
.nav-button:hover {
   background: #cc6600;
   color: #fff !important;
   border-color: #cc6600;
   height: 35px;
   transition: background 400ms linear, color 400ms linear, border 200ms linear;
}
.sanpop-link {
margin-left: 12px;
margin-top: -2px;
}
 #mega-menu-wrap-primary #mega-menu-primary ul.mega-sub-menu {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item:first-child > a.mega-menu-link {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item:last-child > a.mega-menu-link {
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
/*---------------about us page content---------------*/
.elementor-41 .elementor-element.elementor-element-74b9828.elementor-column .elementor-column-wrap {
    align-items: flex-start;
    padding: 0px 200px 70px 200px;
}
.elementor-41 .elementor-element.elementor-element-90873c8.elementor-widget-heading .elementor-heading-title {
display: inline-block;
margin: -30px auto 0;
margin-top: -30px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
padding: 10px 25px;
font-size: 35px;
color: #ffffff;
background-color: #007996;
font-family: "Trebuchet MS", Arial, Verdana !important;
}
.footer-bottom-content {
    padding: 210px 0px 0px 0px !important;
}
.bottom-block-1 {
    width: 33%;
    float: left;
font-family: "Trebuchet MS", Arial, Verdana !important;

}
.footer-menu {
    padding: 0px 1px 1px 58px;
}
.fa, .fab {
    padding-right: 35px !important;
}/*
.fa, .fab:hover {
    color: #99cc00;
}
*/
.bottom-block-3 {
    width: 33%;
    float: right;
    margin: -36px -160px 10px 0px;
font-family: "Trebuchet MS", Arial, Verdana !important;

}
.elementor-27 .elementor-element.elementor-element-6140f84 .elementor-button:hover {
    transition: background 400ms linear, color 400ms linear, border 200ms linear;
}
.elementor-27 .elementor-element.elementor-element-6140f84 .elementor-button:hover {
 color: #ffffff !important;
}
.elementor-27 .elementor-element.elementor-element-08aa24e .elementor-button:hover {
 transition: background 400ms linear, color 400ms linear, border 200ms linear;
}
.elementor-27 .elementor-element.elementor-element-a4cd528 .elementor-button:hover {
 color: #ffffff !important;
}

.tag-image1 {
height: 37px;
top: 40px;
left: 250px;

/*width: 22.254%;*/
/*float: left;*/
/*margin-right: -100%;*/
/*margin-left: 23.254%;*/
/*clear: none;*/
/*margin-top: 3%;*/
}
.custom-logo1 {
 background-image: url("/wp-content/uploads/2019/08/logo.png");
    height: 91px;
    width: 132px;
}
.custom-logo2 {
display: none;
}
.tag-image2 {
display: none;
}
.block-1-options li {
display: block !important;
}
.block-2-options li {
display: block !important;
}

/*----------------------inner page header------------------------*/

.page-template-default.page.page-id-141.mega-menu-primary.elementor-default .navbar-sticky-top {
background-image: linear-gradient(rgba(0, 0, 0, 0), transparent) !important;
}
.page-template-default.page.page-id-141.mega-menu-primary.elementor-default .custom-logo1 {
display: none;
}
.page-template-default.page.page-id-141.mega-menu-primary.elementor-default .custom-logo2{
background-image: url("http://wp2.local.in/wp-content/uploads/2019/08/bfdf50ce80b6b73791f3d34c5ade40b376b491c3.png") !important;
display: inline-block;
}
.page-template-default.page.page-id-141.mega-menu-primary.elementor-default .tag-image1 {
display: none;
}
.page-template-default.page.page-id-141.mega-menu-primary.elementor-default .tag-image2 {
background-image: url("http://wp2.local.in/wp-content/uploads/2019/08/67e0e514edca7133f6d8db354716b13acb459d3b.png") !important;
display: inline-block;
width: 54%;
height: 54px;
background-repeat: no-repeat !important;
background-size: cover;
}
button#responsive-menu-button {

    display: none !important;
    transition: transform 0.5s, background-color 0.5s;
}
.elementor-143 .elementor-element.elementor-element-4051fab:hover {
   color: #fff;
   transition: background 400ms linear, color 400ms linear, border 200ms linear;
}
.sanpop-search-box input[type="search"] {
    color: rgb(255, 255, 255);
    margin: 0px auto 10px auto;
    background: rgba(0, 0, 0, 0);
    width: 95%;
    display: block;
    font-size: 25px !important;
    outline: none;
    height: auto;
    text-align: center;
    border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
    border-bottom: 1px solid #999;
}
.sanpop-search-box .search-btn:hover {
    background: #007996 !important;
    color: #fff !important;
    transition: background 400ms linear, color 400ms linear, border 200ms linear !important;
}

.sanpop-search-box .search-btn {
    background-color: rgba(0,120,150,0.70) !important;
    color: #fff !important;
    border-radius: 1px solid  !important;
    border-width: 2px !important;
    border-color: rgba(0,120,150,0.70) !important;
}
.sanpop-search-box .search-btn {
    padding: 5px 50px !important;
    width: 15% !important;
}
.elementor-27 .elementor-element.elementor-element-92b59f0:hover > .elementor-element-populated {
transition: background 900ms linear, color 900ms linear, border 900ms linear !important;
}
.elementor-27 .elementor-element.elementor-element-e57aee6 > .elementor-element-populated {
    padding: 0px 10px 10px 10px !important;
}
ul li {
display: inline-block;
}
.timely {
    padding-right: 134px;
}
/*---------upcoming section 4------*/
.elementor-27 .elementor-element.elementor-element-832a951:not(.elementor-motion-effects-element-type-background){
    height: auto !important;
}

.elementor-27 .elementor-element.elementor-element-f16b2be:not(.elementor-motion-effects-element-type-background), .elementor-27 .elementor-element.elementor-element-f16b2be > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/33eda62b70cc387f774761afa535b02d56d9c492.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
div#n2-ss-3 .n2-ss-layer .n2-font-cadbdec8d2b6b9c497c8ae9ad799d870-hover {
    font-family: "Trebuchet MS", Arial, Verdana !important;
    color: #ffffff;
    font-size: 60px !important;
}
.n2-ss-slider .n2-ss-layer-content .n2-ss-layer[data-pm="normal"] {
    max-width: 100%;
    padding-left: 75px;

}
div#n2-ss-3-arrow-previous {

left: 80px !important;
}
div#n2-ss-3-arrow-next {

right: 98px !important;
}
div#n2-ss-3 .n2-style-cfb9fd1f31c67f023ce390dacf7da50b-heading:hover{
    background: #007996;
    color: #fff !important;
}
div#n2-ss-3 .n2-style-214ec0cf36ca3047bac19a077ce4bb24-heading:hover {
background: #ffffff !important;
border-width: 2px !important;
border-style: solid;
border-color: #007996 !important;
color: #007996 !important;
transition: background 400ms linear, color 400ms linear, border 200ms linear !important;
}
div#n2-ss-3 .n2-style-214ec0cf36ca3047bac19a077ce4bb24-heading {
    background: #ffffff;
    opacity: 1;
    padding: 10px 30px 10px 30px;
    box-shadow: none;
    border-width: 1px !important;
    border-color: #ffffff !important;
}
.elementor-27 .elementor-element.elementor-element-a4cd528 .elementor-button:hover {
    color: #ffffff !important;
    transition: background 400ms linear, color 400ms linear, border 200ms linear;
}
.event_past {
    opacity: 1 !important;
}
/*---------------------section 3-------*/
.elementor-27 .elementor-element.elementor-element-5b9cb94:not(.elementor-motion-effects-element-type-background), .elementor-27 .elementor-element.elementor-element-5b9cb94 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/7e7c808486fc1372c3a5e2d7f54420972731ec8e.png");
    background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: scroll;
}
.elementor-27 .elementor-element.elementor-element-92b59f0 {
    width: 40%;
}
.elementor-27 .elementor-element.elementor-element-76b8a16 a.elementor-button, .elementor-27 .elementor-element.elementor-element-76b8a16 .elementor-button {
color: #007996 !important;
background-color: transparent !important;
}
.elementor-27 .elementor-element.elementor-element-76b8a16 a.elementor-button:hover{
color: #fff !important;
    background-color: #007996 !important ;
    transition: background 400ms linear, color 400ms linear, border 200ms linear;
}
/*
.elementor-27 .elementor-element.elementor-element-76b8a16 a.elementor-button, .elementor-27 .elementor-element.elementor-element-76b8a16 .elementor-button :hover {
    color: #fff !important;
    background-color: #007996 !important ;
    transition: background 400ms linear, color 400ms linear, border 200ms linear;
}*/

.elementor-27 .elementor-element.elementor-element-78ffc8d a.elementor-button, .elementor-27 .elementor-element.elementor-element-78ffc8d .elementor-button :hover {
    transition: background 400ms linear, color 400ms linear, border 200ms linear;
}
.elementor-27 .elementor-element.elementor-element-78ffc8d a.elementor-button {
color: #fff !important;
background-color: rgba(0,120,150,0.81) !important;
}
/*-------------------section 5------*/
.elementor-27 .elementor-element.elementor-element-832a951:not(.elementor-motion-effects-element-type-background), .elementor-27 .elementor-element.elementor-element-832a951 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
   /* background-image: url("/wp-content/uploads/2019/08/33eda62b70cc387f774761afa535b02d56d9c492.png");*/
background-color: #ffffff !important;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: scroll;
}
.elementor-27 .elementor-element.elementor-element-0fd68fc:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-27 .elementor-element.elementor-element-0fd68fc > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/33eda62b70cc387f774761afa535b02d56d9c492.png") !important;
background-repeat: no-repeat;
background-size: cover;
}
.elementor-element.elementor-element-0fd68fc.elementor-column.elementor-col-50.elementor-top-column {
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4) !important;
}
.rpwwt-widget ul li img {
    width: 505px !important;
    float: none !important;
    height: auto !important;
}
/*.elementor-column.elementor-col-50 {
padding-left: 120px !important;
}*/
.rpwwt-post-title {
color: #007996 !important;
font-size: 25px !important;
font-family: "Trebuchet MS", Arial, Verdana !important;
}
.rpwwt-post-title:hover {
text-decoration: underline !important;
color: #006276 !important;
}
.rpwwt-post-excerpt {
padding-right: 24px;
font-size: 14px;
color: #007996;
font-family: "Trebuchet MS", Arial, Verdana !important;
}
.elementor-27 .elementor-element.elementor-element-0fd68fc > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
/*    margin: 0px 125px 0px 0px !important;*/
    padding: 10px;
}
.home.page-template.page-template-elementor_header_footer.page.page-id-27.mega-menu-primary.responsive-menu-slide-left.elementor-default.elementor-template-full-width.elementor-page.elementor-page-27 .timely .ai1ec-btn-default{
display: none !important;
}
.ai1ec-agenda-widget-view .ai1ec-date {
 background: transparent !important;
border-top: 1px solid transparent !important;
}
.ai1ec-agenda-widget-view .ai1ec-day {
    font-size: 30px !important;
    padding: 0px !important;
font-family: "Trebuchet MS", Arial, Verdana !important;
margin: -36px 0px 0px 0px !important;
}
.ai1ec-agenda-widget-view .ai1ec-date-title {
    background: linear-gradient(180deg,#007996,#007996) !important;
    border-radius: 100% !important;
    display: block !important;
    float: left !important;
    color: #fff !important;
    height: 75px !important;
    width: 75px !important;
    font-size: 32px !important;
    line-height: 65px !important;
    text-align: center;
    margin-right: 18px !important;
    border: none !important;
font-family: "Trebuchet MS", Arial, Verdana !important;
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4) !important;
}
.ai1ec-agenda-widget-view .ai1ec-event > a {
    color: #007996 !important;
    display: block;
    background: transparent !important;
    border: none !important;
    border-radius: 0.4em;
    font-size: 22px !important;
    padding:0.5em 0.4em !important;
font-family: "Trebuchet MS", Arial, Verdana !important;
}
.ai1ec-agenda-widget-view .ai1ec-month {
margin: -5px 0px -41px 0px !important;
font-size: 18px !important;
background: linear-gradient(180deg,#007996,#007996) !important;

}
.ai1ec-agenda-widget-view .ai1ec-weekday, .ai1ec-agenda-view .ai1ec-weekday {
    background: linear-gradient(180deg,#007996,#007996) !important;

    font-size: 14px !important;
    margin: -50px 0px 0px 0px !important;
    display: none !important;
}

.ai1ec-agenda-widget-view .ai1ec-event {
    clear: right;
    margin: 13.5px 0 31.5px 4.8em !important;
    padding: 0;
    position: relative;
}
.ai1ec-agenda-widget-view {
   padding-right: 0px !important;
}
.ai1ec-agenda-widget-view .ai1ec-event .ai1ec-event-title {
    font-weight: bold !important;
}
.ai1ec-allday-badge {
    background: #007996 !important;
    border-radius: 0.9em;
}
.rpwwt-widget ul {
padding-left: 0px !important;
}
.ai1ec-agenda-widget-view {
    max-width: 620px !important;
    padding-left: 70px !important;
padding-top:50px;
}
.elementor-element.elementor-element-0fd68fc h5 {
  font-size: 25px !important;
font-family: "Trebuchet MS", Arial, Verdana !important;
}
.ai1ec-popover.ai1ec-popup {
    display: none !important;
}
.ai1ec-agenda-widget-view .ai1ec-event > a:hover {
    text-decoration: underline !important;
}
.elementor-element.elementor-element-d221cdd h5 {
font-size: 45px !important;
text-align: center;
font-family: "Trebuchet MS", Arial, Verdana !important;
}
.ai1ec-agenda-widget-view .ai1ec-date-title:hover {
color: #fff !important;
}
.elementor-27 .elementor-element.elementor-element-c7aac7a a.elementor-button:hover {
transition: background 400ms linear, color 400ms linear, border 200ms linear;
color: #fff !important;
}
.ai1ec-agenda-widget-view .ai1ec-event .ai1ec-event-time {
    font-weight: bold;
    display: none !important;
}
.ai1ec-agenda-widget-view .ai1ec-day:hover {
color: #fff !important;
}
/*-----------section 4------------*/
.elementor-27 .elementor-element.elementor-element-6aea8dd:not(.elementor-motion-effects-element-type-background), .elementor-27 .elementor-element.elementor-element-6aea8dd > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/unity-panel-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
.elementor-27 .elementor-element.elementor-element-bb126d2 {
    width: 40%;
    padding-left: 50px;

}
.elementor-27 .elementor-element.elementor-element-f42db3c a.elementor-button:hover{
    color: #ffffff !important;
    background-color: #007996;
transition: background 400ms linear, color 400ms linear, border 200ms linear;
}
/*------------------about-us-------------*/
.elementor-41 .elementor-element.elementor-element-8f6a133:not(.elementor-motion-effects-element-type-background), .elementor-41 .elementor-element.elementor-element-8f6a133 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/unity-panel-2.jpg");
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: scroll;

}
.elementor-element.elementor-element-74b9828.elementor-column.elementor-col-100.elementor-top-column {
    padding: 0px 100px 0px 100px !important;
}
/*----------prayer request--------------*/
.elementor-43 .elementor-element.elementor-element-2f09702:not(.elementor-motion-effects-element-type-background), .elementor-43 .elementor-element.elementor-element-2f09702 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/unity-panel-2-2.jpg");
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: scroll;

}
.elementor-43 .elementor-element.elementor-element-a3b06ac.elementor-widget-heading .elementor-heading-title {
    color: #6ec1e4;
    display: inline-block;
    margin: -30px auto 0;
    margin-top: -30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 10px 25px;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #007996;
    font-family: "Trebuchet MS", Arial, Verdana !important;
}
/*-------------calendar---------*/
.elementor-80 .elementor-element.elementor-element-278e79f:not(.elementor-motion-effects-element-type-background), .elementor-80 .elementor-element.elementor-element-278e79f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/unity-panel-4.jpg");
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: scroll;

}
.elementor-80 .elementor-element.elementor-element-8c42fd9.elementor-widget-heading .elementor-heading-title {
    display: inline-block;
    margin: -30px auto 0;
    margin-top: -30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 10px 25px;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
background-color: #007996;
font-family: "Trebuchet MS", Arial, Verdana !important;
}
.ai1ec-btn-group, .ai1ec-btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 10px !important;
}
/*-----------------contact-us------------*/
.elementor-50 .elementor-element.elementor-element-7ef0c1f:not(.elementor-motion-effects-element-type-background), .elementor-50 .elementor-element.elementor-element-7ef0c1f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/f5812c72dbd720fcc65243f5a4634f9a20a2c0b7.png");
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: scroll;

}
.elementor-50 .elementor-element.elementor-element-710a023.elementor-widget-heading .elementor-heading-title {
    display: inline-block;
    margin: -30px auto 0;
    margin-top: -30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 10px 25px;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
background-color: #007996;
font-family: "Trebuchet MS", Arial, Verdana !important;
}

section {
    display: inline-block !important;
}
/*------------------events page----------*/
.ai1ec-event-details.ai1ec-clearfix {
display: none !important;
}
.ai1ec-single-event .ai1ec-actions {
display: none !important;
}
/*------sunday services---*/
.elementor-765 .elementor-element.elementor-element-7bacd4b:not(.elementor-motion-effects-element-type-background), .elementor-50 .elementor-element.elementor-element-7ef0c1f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/unity-panel-2-2.jpg");
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: scroll;

}
.elementor-765 .elementor-element.elementor-element-f15d98e.elementor-widget-heading .elementor-heading-title {
    display: inline-block;
    margin: -30px auto 0;
    margin-top: -30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 10px 25px;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
background-color: #007996;
font-family: "Trebuchet MS", Arial, Verdana !important;
}
.elementor-element.elementor-element-642974f h5 {
    font-size: 30px !important;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Verdana !important;
}
/*---------------sermons-------*/
.elementor-767 .elementor-element.elementor-element-16095ba:not(.elementor-motion-effects-element-type-background), .elementor-50 .elementor-element.elementor-element-7ef0c1f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/Slid-2.jpg");
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: scroll;

}
.elementor-767 .elementor-element.elementor-element-63df6dd.elementor-widget-heading .elementor-heading-title {
    display: inline-block;
    margin: -30px auto 0;
    margin-top: -30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 10px 25px;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
background-color: #007996;
font-family: "Trebuchet MS", Arial, Verdana !important;
}
.elementor-element.elementor-element-baf3770 h5 {
    font-size: 30px !important;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Verdana !important;
}
/*-----------link 1-------------*/
.elementor-141 .elementor-element.elementor-element-4fa3d4c:not(.elementor-motion-effects-element-type-background), .elementor-141 .elementor-element.elementor-element-4fa3d4c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/unity-panel-3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    min-height: 400px;
}
/*-----------link 1-------------*/
.elementor-141 .elementor-element.elementor-element-4fa3d4c:not(.elementor-motion-effects-element-type-background), .elementor-141 .elementor-element.elementor-element-4fa3d4c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/unity-panel-3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    min-height: 400px;
}
.elementor-141 .elementor-element.elementor-element-b52f4cb.elementor-widget-heading.elementor-widget-heading .elementor-heading-title{
display: inline-block;
    margin: -30px auto 0;
    padding: 10px 25px;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
background-color: #007996;
font-family: "Trebuchet MS", Arial, Verdana !important;
}

/*-----------link 2-------------*/
.elementor-143 .elementor-element.elementor-element-b321baa:not(.elementor-motion-effects-element-type-background), .elementor-143 .elementor-element.elementor-element-b321baa > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/ab40c75a0515d00cda1b353efd62880bfed6536c.png");
background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
min-height: 400px;

}
.elementor-143 .elementor-element.elementor-element-c5af9e5.elementor-widget-heading.elementor-widget-heading .elementor-heading-title{
display: inline-block;
    margin: -30px auto 0;
    margin-top: -30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 10px 25px;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
background-color: #007996;
font-family: "Trebuchet MS", Arial, Verdana !important;
}

/*-----------link 3-------------*/
.elementor-145 .elementor-element.elementor-element-af775dd:not(.elementor-motion-effects-element-type-background), .elementor-145 .elementor-element.elementor-element-af775dd > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/5c53ae434f645f1ea5abc3fc9b8cd70e9294350c.png");
background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
min-height: 400px;
}
.elementor-145 .elementor-element.elementor-element-ea53e0f.elementor-widget-heading.elementor-widget-heading .elementor-heading-title{
display: inline-block;
    margin: -30px auto 0;
    margin-top: -30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 10px 25px;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
background-color: #007996;
font-family: "Trebuchet MS", Arial, Verdana !important;
}

/*-----------link 4-------------*/
.elementor-169 .elementor-element.elementor-element-1312c8e:not(.elementor-motion-effects-element-type-background), .elementor-169 .elementor-element.elementor-element-1312c8e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/Slid-1.png");
background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
min-height: 400px;
}
.elementor-169 .elementor-element.elementor-element-ff19146.elementor-widget-heading .elementor-heading-title{
display: inline-block;
    margin: -30px auto 0;
    margin-top: -30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 10px 25px;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
background-color: #007996;
font-family: "Trebuchet MS", Arial, Verdana !important;
}

/*-----------link 5-------------*/
.elementor-171 .elementor-element.elementor-element-44f0a37:not(.elementor-motion-effects-element-type-background), .elementor-171 .elementor-element.elementor-element-44f0a37 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/unity-panel-4.jpg");
background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
min-height: 400px;
}
.elementor-171 .elementor-element.elementor-element-a4642a1.elementor-widget-heading .elementor-heading-title{
display: inline-block;
    margin: -30px auto 0;
    margin-top: -30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 10px 25px;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
background-color: #007996;
font-family: "Trebuchet MS", Arial, Verdana !important;
}

/*-----------link 6-------------*/
.elementor-173 .elementor-element.elementor-element-5d3e96d:not(.elementor-motion-effects-element-type-background), .elementor-173 .elementor-element.elementor-element-5d3e96d > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/unity-panel-2-2.jpg");
background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
min-height: 400px;
}

.elementor-173 .elementor-element.elementor-element-558ad2c.elementor-widget-heading .elementor-heading-title {
display: inline-block;
    margin: -30px auto 0;
    margin-top: -30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 10px 25px;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
background-color: #007996;
font-family: "Trebuchet MS", Arial, Verdana !important;
}
/*--------------link 7---------------*/
.elementor-175 .elementor-element.elementor-element-1de9d25:not(.elementor-motion-effects-element-type-background), .elementor-175 .elementor-element.elementor-element-1de9d25 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/Slid-2.jpg");
background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
min-height: 400px;
}

.elementor-175 .elementor-element.elementor-element-2a86dec.elementor-widget-heading .elementor-heading-title {
display: inline-block;
    margin: -30px auto 0;
    margin-top: -30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 14px 25px;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
background-color: #007996;
font-family: "Trebuchet MS", Arial, Verdana !important;
}

/*-----------link 8-------------*/
.elementor-177 .elementor-element.elementor-element-5257ec5:not(.elementor-motion-effects-element-type-background), .elementor-177 .elementor-element.elementor-element-5257ec5 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/171370409.jpg");
background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
min-height: 400px;
}
.elementor-177 .elementor-element.elementor-element-035886a.elementor-widget-heading .elementor-heading-title {
display: inline-block;
    margin: -30px auto 0;
    margin-top: -30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 10px 25px;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
background-color: #007996;
font-family: "Trebuchet MS", Arial, Verdana !important;
}

/*--------------page 1---------------*/
.elementor-135 .elementor-element.elementor-element-332324a:not(.elementor-motion-effects-element-type-background), .elementor-135 .elementor-element.elementor-element-332324a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/Slid-1-1.png");
background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
min-height: 400px;
}
.elementor-135 .elementor-element.elementor-element-bd0291b.elementor-widget-heading.elementor-widget-heading .elementor-heading-title {
display: inline-block;
    margin: -30px auto 0;
    margin-top: -30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 10px 25px;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;background-color: #007996;
font-family: "Trebuchet MS", Arial, Verdana !important;
}

/*--------------page 2---------------*/
.elementor-137 .elementor-element.elementor-element-80c98c3:not(.elementor-motion-effects-element-type-background), .elementor-137 .elementor-element.elementor-element-80c98c3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/Slid-2.jpg");
background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
min-height: 400px;
}
.elementor-137 .elementor-element.elementor-element-33a5102.elementor-widget-heading.elementor-widget-heading .elementor-heading-title {
display: inline-block;
    margin: -30px auto 0;
    margin-top: -30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 10px 25px;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
background-color: #007996;
font-family: "Trebuchet MS", Arial, Verdana !important;
}
/*--------------page 4---------------*/
.elementor-159 .elementor-element.elementor-element-8c6bc5f:not(.elementor-motion-effects-element-type-background), .elementor-159 .elementor-element.elementor-element-8c6bc5f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/543657680.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
min-height: 400px;
}
.elementor-159 .elementor-element.elementor-element-5b070f5.elementor-widget-heading.elementor-widget-heading .elementor-heading-title {
display: inline-block;
    margin: -30px auto 0;
    margin-top: -30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 10px 25px;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
background-color: #007996;
font-family: "Trebuchet MS", Arial, Verdana !important;
}

/*--------------page 5---------------*/
.elementor-161 .elementor-element.elementor-element-3583ed5:not(.elementor-motion-effects-element-type-background), .elementor-161 .elementor-element.elementor-element-3583ed5 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/unity-panel-3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
min-height: 400px;
}
.elementor-161 .elementor-element.elementor-element-6716c86.elementor-widget-heading .elementor-heading-title {
display: inline-block;
    margin: -30px auto 0;
    margin-top: -30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 10px 25px;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
background-color: #007996;
font-family: "Trebuchet MS", Arial, Verdana !important;
}
/*--------------page 6---------------*/
.elementor-163 .elementor-element.elementor-element-b83e06a:not(.elementor-motion-effects-element-type-background), .elementor-163 .elementor-element.elementor-element-b83e06a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/unity-panel-4.jpg");
background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
min-height: 400px;
}
.elementor-163 .elementor-element.elementor-element-7e134cc.elementor-widget-heading .elementor-heading-title{
display: inline-block;
    margin: -30px auto 0;
    margin-top: -30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 10px 25px;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
background-color: #007996;
font-family: "Trebuchet MS", Arial, Verdana !important;
}

/*--------------page 7---------------*/
.elementor-165 .elementor-element.elementor-element-82e75f2:not(.elementor-motion-effects-element-type-background), .elementor-165 .elementor-element.elementor-element-82e75f2 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/unity-panel-2-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
min-height: 400px;
}
.elementor-165 .elementor-element.elementor-element-6c78481.elementor-widget-heading .elementor-heading-title{
display: inline-block;
    margin: -30px auto 0;
    margin-top: -30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 10px 25px;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
background-color: #007996;
font-family: "Trebuchet MS", Arial, Verdana !important;
}

/*--------------page 8---------------*/
.elementor-167 .elementor-element.elementor-element-1b44ee2:not(.elementor-motion-effects-element-type-background), .elementor-167 .elementor-element.elementor-element-1b44ee2 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2019/08/unity-panel-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
min-height: 400px;
}
.elementor-167 .elementor-element.elementor-element-2c74577.elementor-widget-heading.elementor-widget-heading .elementor-heading-title {
display: inline-block;
    margin: -30px auto 0;
    margin-top: -30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 10px 25px;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
background-color: #007996;
font-family: "Trebuchet MS", Arial, Verdana !important;
}
div.wpforms-container-full .wpforms-form button[type="submit"]:hover {
background-color: #007996 !important;
    border: 1px solid #007996 !important;
    cursor: pointer;
    color: #fff !important;
    transition: background 400ms linear, color 400ms linear, border 200ms linear;

}
div.wpforms-container-full .wpforms-form button[type="submit"]{
background-color: rgba(0,120,150,0.85) !important;
    border: 1px solid rgba(0,120,150,0.85) !important;
border-radius: 0px;
color: #ffffff;
padding: 15px 45px;
font-weight: bold;
text-transform: uppercase;
border: 1px solid;

}
div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium {
    height: 120px;
    width: 60%;
}
.elementor-50 .elementor-element.elementor-element-afebd70 > .elementor-widget-container {
    padding: 75px 75px 75px 400px !important;
}
.mega-sub-menu::after {
    content: "";
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ffffff;
    top: -5px;
    position: absolute;
    left: 25px;
    display: block !important;
}
.n2-ss-widget.n2-ss-widget- {
left: 27px !important;
}
.nav-previous a{
color: #007996 !important;
}
.nav-next a{
color: #007996 !important;
}
.comments-area {
display: none;
}
.wp-block-image img {
    max-width: 100%;
    display: none;
}
.entry-meta/*.attachment-post-thumbnail.size-post-thumbnail.wp-post-image*/ {
display: none;
}

/*------------------------event page--------*/
.ai1ec-col-sm-9 {
    width: 75%;
}
.event_single {
display: none;
}
.ai1ec-col-sm-3 {
    width: 25% !important;
}
.ai1ec-field-label {

    font-size: 21.155px !important;
    font-weight: bold;
    color: #007996 !important;
    text-transform: uppercase;
    text-align: left !important;

}/*-----section 2------------------*/
.event_exerpt {
  float: right !important;
width: 50% !important;
margin: 10px 48px 0px 0px;
}
.elementor-element .elementor-element-94bf5f2 .event_item .event_thumbnail {
    float: right !important;
    margin: 0px 0em 0 0 !important;
}
.elementor-element .elementor-element-94bf5f2 .event_exerpt {
  float: left !important;
}
.event_data .date {
    font-size: 1.2em;
    font-family: "Trebuchet MS", Arial, Verdana !important;
}
img.emoji {
display: none !important;
width: 12% !important;
height: auto !important;
}
.event_category {
display: none;
}
.event-content {
text-align: justify;
}
.elementor-27 .elementor-element.elementor-element-593aeb0 {
margin-top: -82px;
}
.elementor-27 .elementor-element.elementor-element-b932556 {

    margin-top: -82px;
}
.elementor-element .elementor-element-94bf5f2 {
margin-bottom: 6px !important;
}
.elementor-27 .elementor-element.elementor-element-b932556 .elementor-button:hover {
background-color: #007996 !important;
border-color: #007996 !important;
transition: background 400ms linear, color 400ms linear, border 200ms linear;
color: #ffffff !important;
} 
.elementor-27 .elementor-element.elementor-element-593aeb0 .elementor-button:hover {
background-color: #007996 !important;
border-color: #007996 !important;
transition: background 400ms linear, color 400ms linear, border 200ms linear;
color: #ffffff !important;
} 
.event_item h5 {
    font-size: 2em !important;
    font-family: "Trebuchet MS", Arial, Verdana !important;
    line-height: 1rem !important;
}
.elementor-element.elementor-element-c7b1440.elementor-column.elementor-col-100.elementor-top-column.elementor-column-wrap.elementor-element-populated {
padding: 0px !important;
}
.dashicons-before.dashicons-calendar {
display: none !important;
}
.ai1ec-single-event .ai1ec-event-avatar img {
    max-width: 300px;
    max-height: 300px;
    min-height: 0;
    width: 100%;
    display: none !important;
}
#footer-widget {
background-color: #007996 !important;
height: 0px !important;
}
.col-md-4 {
max-width: 25% !important;
}
.widget-title {
color: #fff !important;
margin-left: 16px !important;
}
.image.wp-image-656.attachment-full.size-full {
    max-width: 150px !important;
    height: auto;
    margin-top: 28px;
}
.nav.flex-column {
line-height: 0.6rem !important;
font-size: 13px !important;
}
.textwidget {
line-height:0.6rem !important;
margin-left: 16px !important;
color: #fff !important;
font-size: 13px !important;
}
.bottomMenu {
display: none !important;
}

